PORT = 3000

MONGODB_URI = lala_dataBase_connection_string


ACCESS_TOKEN_SECRET=youraccesssecret
REFRESH_TOKEN_SECRET=yourrefreshsecret
ACCEES_TOKEN_EXPIRES = 15m
REFRESH_TOKEN_EXPIRES = 7d

EMAIL_USER=lalaEmailId
EMAIL_PASS=LalaEmailPassword


VERIFYLINK=http://localhost:5173/verify-email